[submodule "vendor/google-maps"]
	path = vendor/google-maps
	url = git://git.naquadah.org/google-maps.git
[submodule "vendor/twittering-mode"]
	path = vendor/twittering-mode
	url = git://github.com/hayamiz/twittering-mode.git
